<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'inventory:index'%}"> Main Page  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


    <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'inventory:index' %}">Auto,Rad ,Boot</a>
        </li>
        
    </ul>

    <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'inventory:index' %}">House , Garden</a>
      </li>
      
  </ul>

  <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'inventory:index' %}">Mode , Beuty</a>
      </li>
      
  </ul>

  <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'inventory:index' %}">Jobs</a>
      </li>
      
  </ul>

  <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'inventory:index' %}">Music, Film , Bucher</a>
      </li>
      
  </ul>

  <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'inventory:index' %}">Freizeit , Hobby  and Nachbarschaft</a>
      </li>
      
  </ul>


  <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'inventory:index' %}">Dienstleistungen</a>
      </li>

  <ul class="navbar-nav ">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'inventory:index' %}">Nachbarshaftshilfe</a>
      </li>
          
  </ul>


  <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'inventory:index' %}">Family , kind , baby</a>
      </li>
      
  </ul>
      
  </ul>













</nav>

